@font-face {
  font-family: "Ubuntu Light";
  src: url("../assets/fonts/ubuntu/Ubuntu-L.ttf");
  font-weight: normal;
  font-style: normal;
}

.MobileRunPanel {
  padding-top: 10px;
  width: 318px;
}

.MobileRunPanel .GridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 35px repeat(7, 84px);
  grid-auto-flow: row;

  border: solid 2px #506e72;
  border-radius: 10px;
  background-color: #141817;

  position: relative;
  width: 96%;
  height: 88.5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  top: -8px;
}

.WeaponSlot {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.FamiliarSlot {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.AttackSlot {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.SpecialSlot {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.CastSlot {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

.SprintSlot {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}

.ManaSlot {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 9;
}
