@font-face {
  font-family: "Ubuntu Light";
  src: url("../assets/fonts/ubuntu/Ubuntu-L.ttf");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  position: relative;

  width: 1024px;
  height: 768px;
}

.MobileApp {
  text-align: center;
  position: relative;

  width: 350px;
}

.AppBackground {
  width: 1024px;
  height: 768px;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -3;
}

.MobileAppBackground {
  width: 350px;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -3;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.TabList {
  width: 100%;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 100px);
}

.MobileTabList {
  grid-template-columns: repeat(4, 75px);
}

.TabbedContent {
  position: relative;
  width: 100%;
  height: 728px;
  top: -8px;
  z-index: 0;
}

.TabButton {
  width: 100px;
  height: 50px;

  background-color: transparent;
  background-image: url("../assets/img/tab_button_back.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.MobileTabButton {
  width: 75px;
}

.RunTabButton {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.ArcanaTabButton {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.VowTabButton {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.PinTabButton {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.TabButtonImage {
  width: 28px;
  height: 28px;
}

.TabButtonText {
  color: white;
  font-family: "Ubuntu Light";
  font-size: 1.5em;
}

.ActiveTabButton {
  background-image: url("../assets/img/tab_button_back_active.png");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
