.ArcanaPanel {
  padding-top: 10px;
  width: 1024px;
  height: 712px;
}

.MobileArcanaPanel {
  padding-top: 10px;
  width: 318px;
}

.ArcanaPanel .GridContainer {
  display: grid;
  position: relative;
  z-index: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);

  width: 50%;
  height: 86%;
  padding-left: 240px;
  padding-top: 16px;
  top: -8px;
}

.MobileArcanaPanel .GridContainer {
  display: grid;
  position: relative;
  z-index: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);

  border: solid 2px #506e72;
  border-radius: 10px;
  background-color: #141817;

  width: 96%;
  height: 86%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  top: -8px;
}

.ArcanaPanel .ArcanaPanelBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 645px;
}
