.ArcanaPanel {
  padding-top: 10px;
  width: 1024px;
  height: 712px;
}

.ArcanaPanel .GridContainer {
  display: grid;
  position: relative;
  z-index: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);

  width: 50%;
  height: 86%;
  padding-left: 240px;
  padding-top: 16px;
  top: -8px;
}

.ArcanaPanel .ArcanaPanelBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 645px;
}
