@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/alegreya-sans/AlegreyaSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/alegreya-sans/AlegreyaSans-ExtraBold.ttf");
  font-weight: bold;
}

.DashboardGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.StreamerProfilePicture {
  height: 1em;
  width: auto;
}

.StreamerUsername {
  color: white;
  font-family: "Alegreya Sans";
}
