@font-face {
  font-family: "Ubuntu Light";
  src: url("../assets/fonts/ubuntu/Ubuntu-L.ttf");
  font-weight: normal;
  font-style: normal;
}

.EffectTextColor {
  color: #73c745;
  font-weight: bold;
}

.BoonDetail li::marker {
  content: "▸";
}

.BoonIcon {
  border: 10px solid transparent;
  border-image-slice: 25;
  border-image-width: 20px;
  border-image-repeat: fill;
  position: relative;
  z-index: 2;

  width: 64px;
  height: 64px;
}

.EmptyBoonIcon {
  position: relative;

  width: 66px;
  height: 66px;
}

.BoonImage {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
}

.EmptyBoonImage {
  width: 66px;
  height: 66px;
  display: block;
  position: absolute;
  top: 9px;
  left: 9px;
}

.DarkCover {
  filter: brightness(50%);
}

.NoDarkCover {
  filter: brightness(100%);
}

.PopperElement {
  position: relative;
  z-index: 3;
  width: 675px;
  height: 225px;
}

.BoonDetail {
  width: 655px;
  height: 215px;
  position: relative;
  text-align: left;
  color: white;
  background-repeat: no-repeat;
  font-family: "Ubuntu Light";
  font-size: 1.2em;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
