@font-face {
  font-family: "Ubuntu Bold";
  src: url("../assets/fonts/ubuntu/Ubuntu-B.ttf");
  font-weight: normal;
  font-style: normal;
}

.BoonTitle {
  font-family: "Ubuntu Bold";
  text-transform: uppercase;
}

.RarityImage {
  margin-top: 8px;
}

.CommonText {
  color: #ffffff;
}

.RareText {
  color: #008aff;
}

.EpicText {
  color: #9d12ff;
}

.HeroicText {
  color: #f86059;
}

.LegendaryText {
  color: #ff9000;
}

.InfusionText {
  color: #ff4bff;
}

.DuoText {
  color: #d2ff61;
}

.PerfectText {
  color: #d2ff61;
}

.TitleFirstLetter {
  font-size: 2em;
}

.TitleOtherLetters {
  font-size: 1.5em;
}

.RightTitle {
  float: right;
}

.LeftTitle {
  float: left;
}
