@font-face {
  font-family: 'Ubuntu Light';
  src: url('../assets/fonts/ubuntu/Ubuntu-L.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url('../assets/fonts/ubuntu/Ubuntu-B.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('../assets/fonts/alegreya-sans/AlegreyaSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('../assets/fonts/alegreya-sans/AlegreyaSans-ExtraBold.ttf');
  font-weight: bold;
}

.BoonTitle {
  font-family: 'Ubuntu Bold';
  text-transform: uppercase;
}

.BoonDetail .CommonText {
  color: #ffffff;
}

.BoonDetail .RareText {
  color: #006eff;
}

.BoonDetail .EpicText {
  color: #b72ee0;
}

.BoonDetail .HeroicText {
  color: #ff5555;
}

.BoonDetail .LegendaryText {
  color: orange;
}

.BoonDetail .InfusionText {
  color: #e84acd;
}

.BoonDetail .DuoText {
  color: greenyellow;
}

.TitleFirstLetter {
  font-size: 2em;
}

.TitleOtherLetters {
  font-size: 1.5em;
}

.EffectTextColor {
  color: lightgreen;
  font-weight: bold;
}

.BoonDetail {
  width: 675px;
  height: 225px;
  position: relative;
  left: 100px;
  top: -80px;
  text-align: left;
  color: white;
  background-repeat: no-repeat;
  font-family: 'Ubuntu Light';
  z-index: 3;
  padding-top: 10px;
  padding-left: 10px;
}

.BoonDetail li::marker {
  content: "▸";
}

.BoonDetailLow {
  transform: translateY(-80px)
}

.BoonImage {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: -1;
}

.EmptyBoonImage {
  width: 66px;
  height: 66px;
  display: block;
  position: absolute;
  top: 8px;
  left: 9px;
  z-index: -1;
}