@font-face {
  font-family: "Ubuntu Light";
  src: url("../assets/fonts/ubuntu/Ubuntu-L.ttf");
  font-weight: normal;
  font-style: normal;
}

.EffectTextColor {
  color: lightgreen;
  font-weight: bold;
}

.CardDetail {
  width: 655px;
  height: 205px;
  position: relative;
  text-align: left;
  color: white;
  background-repeat: no-repeat;
  font-family: "Ubuntu Light";
  font-size: 1.2em;
  z-index: 3;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.MobileCardDetail {
  width: 298px;
  height: 195px;
}

.CardImage {
  height: 120px;
  display: block;
  position: relative;
  z-index: 1;
}

.MobileCardImage {
  height: 88px;
}

.CardPanel {
  position: relative;
  z-index: 1;
  height: 120px;
  filter: brightness(50%);
}

.MobileCardPanel {
  height: 88px;
}

.ActiveCardPanel {
  filter: brightness(100%);
}

.ArcanaPanel .GridContainer .PopperElement {
  z-index: 3;
  position: relative;
  width: 665px;
  height: 215px;
}
