@font-face {
  font-family: "Ubuntu Light";
  src: url("../assets/fonts/ubuntu/Ubuntu-L.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("../assets/fonts/ubuntu/Ubuntu-B.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/alegreya-sans/AlegreyaSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/alegreya-sans/AlegreyaSans-ExtraBold.ttf");
  font-weight: bold;
}

.EffectTextColor {
  color: lightgreen;
  font-weight: bold;
}

.CardDetail {
  width: 665px;
  height: 215px;
  position: relative;
  text-align: left;
  color: white;
  background-repeat: no-repeat;
  font-family: "Ubuntu Light";
  font-size: 1.2em;
  z-index: 3;
  padding-top: 10px;
  padding-left: 10px;
}

.CardImage {
  width: 90px;
  height: 140px;
  display: block;
  position: relative;
  z-index: -1;
}

.CardPanel {
  position: relative;
  width: 90px;
  height: 140px;
}

.CardPanel .PopperElement {
  z-index: 3;
  position: relative;
  width: 665px;
  height: 215px;
}
