@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/alegreya-sans/AlegreyaSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/alegreya-sans/AlegreyaSans-ExtraBold.ttf");
  font-weight: bold;
}

.ConfigPage {
  width: 984px;
  height: 646px;
  position: absolute;
  top: 0;
  left: 0;
  color: #58bc81;
  font-family: "Alegreya Sans";
  text-align: center;
  background-image: url("../assets/img/main_background.png");
  padding: 20px;
}

.ArgusIcon {
  width: 200px;
}
