@font-face {
  font-family: "Ubuntu Light";
  src: url("../assets/fonts/ubuntu/Ubuntu-L.ttf");
  font-weight: normal;
  font-style: normal;
}

.ElementPanel {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;

  text-align: left;
  color: white;
  font-size: 1.5em;
  font-family: "Ubuntu Light";
  display: grid;
  grid-template-columns: repeat(5, 100px);

  margin-left: 230px;
  margin-top: 8px;

  height: 30px;
}

.MobileElementPanel {
  grid-column-end: 4;
  margin-left: unset;
  grid-template-columns: repeat(5, 60px);
  justify-self: center;
}

.ElementImage {
  width: auto;
  height: 22px;
  vertical-align: middle;
}

.ElementCell {
  display: flex;
  align-items: center;
  height: 30px;
}

.MobileElementCell {
  justify-content: center;
}
