.ExtraPanel {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-left: 2%;

  width: 65%;
  height: 10%;
}

.MobileExtraPanel {
  grid-template-columns: repeat(3, 1fr);
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: unset;
}

.ExtraPanel .BoonIcon {
  transform: scale(0.8);
}
