@font-face {
  font-family: "Ubuntu Light";
  src: url("../assets/fonts/ubuntu/Ubuntu-L.ttf");
  font-weight: normal;
  font-style: normal;
}

.PinPanel {
  padding-top: 10px;
  width: 1024px;
  height: 712px;
  position: relative;
  z-index: 0;
}

.MobilePinPanel {
  padding-top: 10px;
  width: 318px;
  position: relative;
  z-index: 0;
}

.PinPanel .PinPanelBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 645px;
}

.PinPanel .GridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 120px 420px;

  position: relative;
  z-index: 0;
  width: 90%;
  height: 84%;
  padding-left: 2%;
  padding-top: 15px;
  top: -8px;
}

.MobilePinPanel .GridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);

  border: solid 2px #506e72;
  border-radius: 10px;
  background-color: #141817;

  position: relative;
  z-index: 0;
  width: 96%;
  height: 84%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  top: -8px;
}

.PinPanel .PinPanelTitle {
  color: white;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  font-family: "Ubuntu Light";
  font-size: 1.8em;
  margin: 10px;
}

.PinPanel .PinnedBoon1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}

.PinPanel .PinnedBoon2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}

.PinPanel .PinnedBoon3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}

.MobilePinPanel .PinnedBoon1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  margin-left: 20px;
}

.MobilePinPanel .PinnedBoon2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
  margin-left: 20px;
}

.MobilePinPanel .PinnedBoon3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  justify-self: center;
  margin-left: 20px;
}

.RequirementLabel {
  font-family: "Ubuntu Light";
  color: white;
  font-size: 1.5em;
}

.RequirementsPanel {
  display: grid;
  overflow-y: auto;

  grid-template-columns: 20px repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.MobileRequirementsPanel {
  overflow-y: unset;
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #506e72;
}

.RequirementsPanel::-webkit-scrollbar {
  background-color: transparent;
}

.RequirementsPanel::-webkit-scrollbar-button {
  display: none;
}

.RequirementsPanel::-webkit-scrollbar-thumb {
  background-color: #58bc81;
}

.BoonRequirements1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.BoonRequirements2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.BoonRequirements3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.MobileBoonRequirements1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.MobileBoonRequirements2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.MobileBoonRequirements3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
  border: unset;
}
