@font-face {
  font-family: "Ubuntu Light";
  src: url("../assets/fonts/ubuntu/Ubuntu-L.ttf");
  font-weight: normal;
  font-style: normal;
}

.RunPanel {
  padding-top: 10px;
  width: 1024px;
  height: 712px;
}

.RunPanel .GridContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 35px repeat(7, 84px);
  grid-auto-flow: column;

  position: relative;
  width: 65%;
  height: 88.5%;
  padding-left: 2%;
  top: -8px;
}

.RunPanel .RunPanelBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 645px;
}

.EmptyDataHint {
  position: absolute;
  top: 0px;
  left: 200px;
  width: 560px;
  z-index: 3;
  color: white;
  font-family: "Ubuntu Light";
  font-size: 3em;
  text-align: justify;
}
