@font-face {
  font-family: "Ubuntu Light";
  src: url("../assets/fonts/ubuntu/Ubuntu-L.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/alegreya-sans/AlegreyaSans-Regular.ttf");
  font-weight: normal;
}

.EffectTextColor {
  color: lightgreen;
  font-weight: bold;
}

.VowDetail {
  width: 665px;
  height: 215px;
  position: relative;
  text-align: left;
  color: white;
  background-image: url("../assets/img/Common_detail_back.png");
  background-repeat: no-repeat;
  font-family: "Ubuntu Light";
  font-size: 1.2em;
  z-index: 3;
  padding-top: 10px;
  padding-left: 10px;
}

.VowImage {
  width: 88px;
  height: 88px;
  display: block;
  position: relative;
  left: -15px;
  top: 10px;
  scale: 0.8;
}

.VowIcon {
  position: relative;
  z-index: 1;
  width: 172px;
  height: 116px;
  background-image: url("../assets/img/vow_icon_back.png");
  filter: brightness(50%);
}

.ActiveVowIcon {
  filter: brightness(100%);
}

.VowPanel .GridContainer .PopperElement {
  z-index: 3;
  position: relative;
  width: 665px;
  height: 215px;
}

.VowName {
  font-family: "Alegreya Sans";
  color: white;
  font-size: 1.5em;
  position: absolute;
  top: 32px;
  left: 70px;
  font-style: italic;
}

.PipContainer {
  position: absolute;
  display: flex;
  left: 70px;
  top: 50px;
}

.PipImage {
  width: auto;
  height: 42px;

  margin-left: -16px;
}

.VowPanel .BossDifficultyShrineUpgradeStyle {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;

  justify-self: center;
  background-image: url("../assets/img/rivals_icon_back.png");
  width: 580px;
}

.VowPanel .BossDifficultyShrineUpgradeStyle .VowImage {
  left: 200px;
}

.VowPanel .BossDifficultyShrineUpgradeStyle .VowName {
  left: 285px;
}

.VowPanel .BossDifficultyShrineUpgradeStyle .PipContainer {
  left: 285px;
}
