.VowPanel {
  padding-top: 10px;
  width: 1024px;
  height: 712px;
}

.MobileVowPanel {
  padding-top: 10px;
  width: 318px;
}

.VowPanel .GridContainer {
  display: grid;
  position: relative;
  z-index: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);

  width: 90%;
  height: 84%;
  padding-left: 5%;
  padding-top: 30px;
  top: -8px;
}

.MobileVowPanel .GridContainer {
  display: grid;
  position: relative;
  z-index: 0;
  grid-template-columns: repeat(2, 148px);
  grid-template-rows: repeat(9, 100px);

  border: solid 2px #506e72;
  border-radius: 10px;
  background-color: #141817;

  width: 94%;
  height: 84%;
  padding-left: 4%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  top: -8px;
}

.VowPanel .VowPanelBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 645px;
}
